<div class="grid">
	<div class="col-12">
		<div class="container">
			<div class="card cardborder">
				<!-- <h2 style="color:#1769aa ;display: flex;justify-content: center;">Add School</h2> -->
                <div class="header">
                    <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                        <span class="text-xl text-900 font-semibold" style="color:#1769aa !important">Add School</span>
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sort by"
                            styleClass="w-full md:w-15rem"></p-dropdown> -->
                        
                    </div>
                </div>
				<div class="p-fluid p-formgrid grid mt-4">
					<div class="col-12 md:col-6">
						<label htmlFor="firstname2">Name</label>
						<input pInputText id="firstname2" type="text" placeholder="Enter Name" />
					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="phone">Phone</label>
						<input pInputText id="phone" type="tel" pattern="[0-9]{10}" placeholder="Enter mobile number" />
					</div>
					<div class="col-12 md:col-6">
                        <label style="justify-self: start;text-align: start;">Email</label>
                        <input pInputText id="firstname2" type="email" placeholder="Email"
                            formControlName="email" />

					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="Offers">Offers</label>
						<input pInputText id="Offers" type="text" placeholder="Offers" />
						<!-- <label htmlFor="address">Address</label>
						<input pInputTextarea id="address" rows="4" /> -->
					</div>

					<div class="col-12 md:col-6">
						<label htmlFor="website">Website URL</label>
						<input pInputText id="website" type="text" placeholder="Enter your website url" />
					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="website">Address</label>
						<input pInputText id="website" type="text" placeholder="Enter Address" />
					</div>

					<div class="col-12">
						<div class="card">
							<label htmlFor="website">Upload an Image</label>
							<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
								[multiple]="true" accept="image/*" [maxFileSize]="1000000">
								<ng-template pTemplate="content">
									<ul *ngIf="uploadedFiles.length">
										<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
									</ul>
								</ng-template>
							</p-fileUpload>


						</div>
						<!-- <div class="p-toolbar-group-left flex flex-wrap justify-content-end align-items-end">
							<button pButton type="button" label="Add Event" icon="pi pi-plus" class="mr-2 mb-4"  [routerLink]="['/tribe/event/add']" ></button>
					
						</div> -->
						<div class="col-12 " style="display: flex;justify-content: flex-end;">
							<div class="flex flex-wrap gap-2">
								<button pButton pRipple label="Submit"></button>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>