<div>
    <div class="p-toolbar-group-left flex flex-wrap justify-content-end align-items-end">
        <button pButton type="button" label="Add" icon="pi pi-plus" class="mr-2 mb-4" (click)="navigateToAdd()"></button>
    </div>
</div>
<div class="card">
    <p-dataView [value]="allData"  layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                <span class="text-xl text-900 font-semibold">Job List</span>
                <span class="layout-topbar-search hidden lg:flex">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template let-blogs pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-10" *ngFor="let dataShow of entityShow; let i = index">
                    <div class="card cardborder">
                        <div class="p-3" *ngIf="entityShow">
                            <div class="cursor-pointer surface-card border-round">
                                <div class="text-container">
                                    <h2>{{dataShow.jobTitle}}</h2> 
                                    <p>Contact Email: {{dataShow.contactEmail}}</p>
                                    <p>Job Location: {{dataShow.location}}</p>
                                    <!-- Additional text or content -->
                                </div>
                                <div class="card-content">
                                    <div class="image-container">
                                        <div class="p-toolbar-group-left flex flex-wrap justify-content-start align-items-start">
                                            <button pButton pRipple type="button" label="Details" class="p-button-rounded p-button-secondary mt-2 mr-2" (click)="navigateToDetail(dataShow.id)"></button>
                                            <button pButton pRipple type="button" label="Delete" class="p-button-rounded p-button-danger mt-2 mr-2" (click)="deletecard(dataShow.id)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
