<div class="col-12">
    <div class="card cardborder">
        <div class="header">
            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                <span class="text-xl text-900 font-semibold" style="color:#1769aa !important">Job Details </span>
               
            </div>
           
        </div>
        <div class="field col-12 ">
            <span class="text-xl text-900 font-semibold" style="color:#1769aa !important">Job Description </span>

            <span class="p-float-label">
                <textarea inputId="textarea" rows="5" cols="120" pInputTextarea>{{description}}</textarea>
            </span>
        </div>
    </div>