<div class="grid">
	<div class="col-12">
		<div class="container">
			<div class="card cardborder">
				<h2 style="color:#1769aa ;display: flex;justify-content: center;">Add Event</h2>
				<div class="p-fluid p-formgrid grid">
					<div class="col-12 md:col-6">
						<label htmlFor="firstname2">Name</label>
						<input pInputText id="firstname2" type="text" placeholder="Enter Name" />
					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="phone">Phone</label>
						<input pInputText id="phone" type="tel" pattern="[0-9]{10}" placeholder="Enter mobile number" />
					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="lastname2">Calender</label>
						<p-calendar [showIcon]="true" inputId="icon"></p-calendar>
						<p-calendar-timeonly [showIcon]="true" inputId="icon"
							placeholder="Enter date"></p-calendar-timeonly>

					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="lastname2">Time</label>

						<p-calendar [showTime]="true" [timeOnly]="true" hourFormat="12" placeholder="Enter time ">
						</p-calendar>
						<!-- <label htmlFor="address">Address</label>
						<input pInputTextarea id="address" rows="4" /> -->
					</div>

					<div class="col-12 md:col-6">
						<label htmlFor="website">Website URL</label>
						<input pInputText id="website" type="text" placeholder="Enter your website url" />
					</div>
					<div class="col-12 md:col-6">
						<label htmlFor="website">Address</label>
						<input pInputText id="website" type="text" placeholder="Enter Address" />
					</div>

					<div class="col-12">
						<div class="card">
							<label htmlFor="website">Upload an Image</label>
							<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
								[multiple]="true" accept="image/*" [maxFileSize]="1000000">
								<ng-template pTemplate="content">
									<ul *ngIf="uploadedFiles.length">
										<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
									</ul>
								</ng-template>
							</p-fileUpload>


						</div>
						<!-- <div class="p-toolbar-group-left flex flex-wrap justify-content-end align-items-end">
							<button pButton type="button" label="Add Event" icon="pi pi-plus" class="mr-2 mb-4"  [routerLink]="['/tribe/event/add']" ></button>
					
						</div> -->
						<div class="col-12 " style="display: flex;justify-content: flex-end;">
							<div class="flex flex-wrap gap-2">
								<button pButton pRipple label="Submit"></button>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>