<div>
    <div class="p-toolbar-group-left flex flex-wrap justify-content-end align-items-end">
        <button pButton type="button" label="Add" icon="pi pi-plus" class="mr-2 mb-4"
            [routerLink]="['/tribe/event/add']"></button>

    </div>
</div>
<div class="card">
    <p-dataView [value]="allData"  [rows]="1" filterBy="title" [sortField]="sortField"
        [sortOrder]="-1" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                <span class="text-xl text-900 font-semibold">Events</span>
                <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sort by"
                    styleClass="w-full md:w-15rem"></p-dropdown> -->
                <span class="layout-topbar-search hidden lg:flex">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-10" *ngFor="let ppt of newPPT;let i= index">
                    <div class="card cardborder">
                        <div class="p-3" *ngIf="newPPT">
                            <div class="cursor-pointer surface-card  border-round">
                                <!-- <div class="relative">
                                    <img [src]="blog.coverImage" class="w-50" />
                                   
                                </div> -->
                                <div class="card-content">
                                    <div class="image-container">
                                        <!-- [src]="newPPT.image" -->
                                        <img [src]="ppt.image" alt="Blog Cover Image" class="w-100"
                                            [style.width.px]="desiredWidth" [style.height.px]="desiredHeight" />
                                        <div
                                            class="p-toolbar-group-left flex flex-wrap justify-content-start align-items-start">
                                            <!-- <button pButton type="button" label="Event Details" icon="pi pi-plus" class="mr-2 mt-2"></button> -->
                                            <button pButton pRipple type="button" label="Event Details"
                                                class="p-button-rounded p-button-secondary mt-2"  routerLink="/tribe/event/event-detail/{{ ppt.id }}" 
                                                ></button>
                                        </div>
                                    </div>
                                    <div class="text-container">
                                        <h2>{{ ppt.name }}</h2>
                                        <p>Date: {{ppt.date}}</p>
                                        <p>Time: {{ppt.time}}</p>
                                        <p>Address: {{ppt.address}}</p>
                                        <p>Phone: {{ppt.phone}}</p>
                                        <!-- Additional text or content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>