<div class="col-12">
    <!-- <h2 style="color:#1769aa ;display: flex;justify-content: start;">Event Detail</h2> -->
    <div class="card cardborder">
       
        <div class="header">
            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                <span class="text-xl text-900 font-semibold" style="color:#1769aa !important">Face to Face Tutor Detail</span>
                
            </div>
        </div>
        <!-- corousel image -->
        <p-galleria [value]="images" [responsiveOptions]="galleriaResponsiveOptions" id="pgall"
            [containerStyle]="{'max-width': '800px', 'margin':'auto'}" [numVisible]="6" [circular]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%; max-height: 300px; display: flex;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid nogutter justify-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                </div>
            </ng-template>
        </p-galleria>
        <!-- corousel image -->
        <!-- content -->
        <div class="p-3">
            <div class=" font-semibold  mb-3"
                style="font-size: 40px;display: flex;align-items: center;justify-content: center;">
                Darul Al Aqram
            </div>
            <div class="text-container">
                <p style="font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Address: 3300 S Federal St</p>
                <p style="font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Phone: 9165155554</p>
            </div>
        </div>
        <!-- content -->
        <!-- description -->
        <div class="field col-12 ">
            <span class="p-float-label">
                <textarea inputId="textarea" rows="5" cols="120" pInputTextarea></textarea>
            </span>
        </div>
        <!-- description -->

        <!-- add and edit event -->

        <div class="col-12 " style="display: flex;justify-content: flex-end;">
            <div class="flex flex-wrap gap-2">
                <button pButton pRipple label="Add Tutor Detail"></button>

            </div>
        </div>
        <div class="text-xl text-900 mb-4 font-bold mt-8">Review</div>
        <!-- display review -->
        <div class="flex align-items-center mb-4 font-bold">
            <span class="text-xl text-900 mr-4">Comments</span>
            <span
                class="inline-flex align-items-center justify-content-center w-2rem h-2rem border-1 surface-border border-round">{{
                comments.length }}</span>
        </div>
        <ul class="list-none p-0 m-0">
            <li *ngFor="let comment of comments" class="flex p-3 mb-3 border-1 surface-border border-round">
                <img [src]="comment.image" class="w-3rem h-3rem flex-shrink-0 mr-3" />
                <div>
                    <span class="font-semibold text-900">{{ comment.name }}</span>
                    <p class="font-semibold text-600 m-0 text-sm">{{ comment.date }}</p>
                    <p class="line-height-3 mb-0 my-3">{{ comment.description }}</p>
                </div>
            </li>
        </ul>
        <!-- display review -->


        <!-- type review -->
        <div class="mb-3 p-fluid">
            <textarea rows="6" pInputTextarea placeholder="Type your review"></textarea>
        </div>
        <div class="flex justify-content-end">
            <button pButton pRipple label="Review"></button>
        </div>
        <div>

        </div>
    </div>
</div>