// .google-signin-button {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     padding: 12px 24px;
//     border: 1px solid #4285F4; /* Google blue color */
//     border-radius: 8px;
//     background-color: #4285F4; /* Google blue color */
//     color: white;
//     font-size: 16px;
//     font-weight: bold;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//   }
  
//   .google-signin-button:hover {
//     background-color: #3b79db; /* Darker shade of Google blue */
//   }
  
//   .google-logo {
//     width: 24px;
//     height: 24px;
//     margin-right: 8px;
//   }
  
//   .button-text {
//     margin-left: 8px;
//   }
.sign-in-button {
    background-color: white; /* Blue color */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .sign-in-button:hover {
    background-color: white; /* Darker Blue color */
  }
  
  .gmail-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    vertical-align: middle;
    margin-right: 10px; /* Adjust spacing between icon and text */
  }