<div class="h-screen text-bluegray-200" style="background: linear-gradient(180deg, #525d72 0%, #69768d 100%)">
    <!-- <div class="flex justify-content-center align-items-center h-full ">
        <div class="h-full  py-6 px-8 flex justify-content-between flex-column max-w-40rem">
        </div>
    </div> -->
    <h2 class="text-bluegray-200 text-center pt-4">Get Started With Your Account</h2>
    <div style="display: flex;justify-content: center;align-items: center;">
        <form [formGroup]="signUpForm" (ngSubmit)="SignUp(signUpForm.value)">
            <div class="avatar-container">
                <!-- <img class="avatar" src='assets/demo/images/avatar/check.jpg' alt="Avatar"  #avatarImage> -->
                <img class="avatar" alt="" src="{{ UserPreviousImage }}" />
                <div class="icon-container">
                    <!-- Place your icon here -->
                    <input type="file" style="display: none" (change)="userImage($event)" #file />
                    <i class="pi pi-plus" (click)="file.click()"></i>
                </div>
            </div>
            <div class="card cardborder">
                <div class="p-fluid grid ">
                    <div class=" col-12 md:col-6">
                        <label style="justify-self: start;text-align: start;color:#1769aa">Firstname</label>
                        <input pInputText id="firstname2" type="text" placeholder="First Name"
                            formControlName="firstName" />
                    </div>
                    <div class=" col-12 md:col-6">
                        <label htmlFor="lastname"style="color:#1769aa">Last Name</label>
                        <input pInputText id="lastname2" type="text" placeholder="Last Name"
                            formControlName="lastName" />
                    </div>
                    </div>
                    <div class="p-fluid grid ">
                    <div class=" col-12 md:col-6">
                        <label htmlFor="lastname" style="color:#1769aa">Gender</label>

                        <p-dropdown [options]="genderItems" optionLabel="name" placeholder="Select"
                            formControlName="gender" ></p-dropdown>

                    </div>
                    <div class=" col-12 md:col-6">
                        <label htmlFor="lastname" style="color:#1769aa">Religion</label>
                        <input pInputText id="lastname2" type="text" placeholder="Religion"
                            formControlName="religion" />
                    </div>
                </div>
                <div class="p-fluid grid ">
                    <div class=" col-12 md:col-4">
                        <label style="justify-self: start;text-align: start;color:#1769aa">Email</label>
                        <input pInputText id="firstname2" type="email" placeholder="Email" formControlName="email" />
                    </div>
                    <div class=" col-12 md:col-4">
                        <label htmlFor="lastname"style="color:#1769aa">Password</label>
                        <input pInputText id="lastname2" type="text" placeholder="Password"
                            formControlName="password" />
                    </div>
                    <div class=" col-12 md:col-4">
                        <label style="justify-self: start;text-align: start;color:#1769aa">Confirm Password</label>
                        <input pInputText id="firstname2" type="text" placeholder="Confirm password"
                            formControlName="confirmPwd" />
                            <div *ngIf=" (signUpForm.get('password')?.value !== signUpForm.get('confirmPwd')?.value)" class="text-danger" style="color: red;">
                                Passwords do not match.
                              </div>
                    </div>
                    </div>
               
                <div class="p-fluid grid ">
                    <div class=" col-12 md:col-6">
                        <label htmlFor="lastname" style="color:#1769aa">State</label>

                        <p-dropdown [options]="statesCities" optionLabel="state" placeholder="Select State"
                            formControlName="state"></p-dropdown>
                    </div>
                    <div class=" col-12 md:col-6">
                        <label htmlFor="lastname" style="color:#1769aa">City</label>

                        <p-dropdown [options]="cities" placeholder="Select City" formControlName="city"></p-dropdown>

                    </div>


                    

                </div>
                <div style="display: flex;justify-content: center;align-items: center;">
                <button pButton pRipple label="SIGN UP" type="button" class="w-6 "  type="submit"></button></div>

            </div>
        </form>
    </div>
</div>